@import '../../../styles/Index.scss';

.button {
  @include flex-start;
  @include secondary-bold;
  padding: 13px 34px;
  border-radius: .7rem;
  border: none;
  cursor: pointer;
  box-shadow: $secondary-shadow;
}

.button--primary {
  background: $secondary-gradient;
  color: $white;
  transition: .3s ease-in-out;

  &:hover {
    background: $secondary-gradient-hover;
  }
}

.button--secondary {
  background: $primary;
  transition: .3s ease-in-out;

  &:hover {
    background: $white;
  }
}

.button--tertiary {
  background: $tertiary-gradient;

  &:hover {
    background: $tertiary-gradient-hover;
  }
}

.button--unactive {
  background: $tertiary;
  box-shadow: none;

}
