@import '../../styles/Index.scss';

.order {
  @include large-box-radius;
  width: 90%;
  background-color: $white;
  box-shadow: $black-shadow;
  padding: 3rem 1rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  z-index: 1;

  @media screen and (max-width: $tablet-large-screen) {
    width: 90%;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-large-screen) {
    height: auto;
    padding: 40px 20px;
  }

}

.order__header {
  @include flex-between;
  @include secondary-bold-subtitle;
  color: $black;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;

  @media screen and (max-width: $tablet-large-screen) {
    width: 100%;

  }

  .title {
    @include flex-start;
  }

}

.order__catalog-selector {
  @include flex-between;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;

  @media screen and (max-width: $tablet-large-screen) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-large-screen) {
    flex-direction: column;
  }

}

.order__catalog {
  @include flex-start;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $tablet-large-screen) {
    overflow-x: auto;
  }

  @media screen and (max-width: $mobile-large-screen) {
    width: 100%;
  }

}

.order__catalog-item {
  margin: 1rem .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: .6rem;
  width: 15%;
  background: $white;
  height: 353px;
  box-shadow: $secondary-shadow;

  @media screen and (max-width: $desktop-large-screen) {
    &:hover {
      .order__catalog-pic {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $tablet-large-screen) {
    width: 22%;

    &:hover {
      .order__catalog-pic {
        opacity: inherit;
      }

      .size-item {
        color: inherit;
        background: inherit;
        padding: inherit;
      }
    }
  }

  @media screen and (max-width: $tablet-regular-screen) {
    width: 29.5%;

    &:hover {
      .order__catalog-pic {
        opacity: inherit;
      }

      .size-item {
        color: inherit;
        background: inherit;
        padding: inherit;
      }
    }
  }

  @media screen and (max-width: $mobile-large-screen) {
    width: 43%;
    height: 300px;
  }

  @media screen and (max-width: $mobile-small-screen) {
    width: 70%;
    height: 300px;
    margin: 1rem auto;
  }

  &.check {
    .order__catalog-pic {
      opacity: 1;
    }

    .order__catalog-info {
      .order__catalog-info-description {
        color: $white;
      }

      .order__catalog-info-title-size {

        .combo,
        .order__catalog-info-title {
          color: $white;
        }
      }

      .order__catalog-item-size {
        color: $white;
      }
    }
  }
}

.order__catalog-pic {
  width: 100%;
  opacity: .8;
  transition: .3s ease-in-out;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.order__catalog-info {
  width: 100%;
  padding: 1rem .6rem;
  height: 40%;
}

.order__catalog-info-title-size {
  @include flex-start;
  margin-bottom: .5rem;

}

.order__catalog-info-title {
  @include secondary-bold-subtitle;
  font-size: 1rem;
  color: $black;
  text-align: left;

  @media screen and (max-width: $tablet-large-screen) {
    font-size: 1rem;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    font-size: .8rem;
  }

}

.order__catalog-info-size {
  @include secondary-bold-subtitle;
  position: relative;
  color: $white;
  text-align: center;
  font-size: .8rem;
  height: 25px;
  width: 25px;
  background: $secondary-gradient;
  padding: .3rem;
  margin-left: .5rem;
  border-radius: .3rem;

  @media screen and (max-width: $tablet-regular-screen) {
    width: 18px;
    height: 18px;
  }

  .size {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

.order__catalog-info-description {
  @include primary-normal-small;
  color: lighten($color: $black, $amount: 40);
  font-size: .7rem;
  margin: .5rem 0;
  height: 48px;

  @media screen and (max-width: $tablet-regular-screen) {
    font-size: .7rem;
  }

}

.order__catalog-item-sizes {
  @include flex-start;
  bottom: 0;
  position: absolute;

}

.order__catalog-item-size {
  @include flex-start;
  @include primary-normal-small;
  font-weight: bold;
  width: 100%;
  margin-bottom: .2rem;
  color: $black;
  cursor: pointer;
  transition: .2s ease-in-out;

  .size-price {

    .size-item {
      @include flex-start;
      width: 100%;
      border-radius: 5rem;
      margin-bottom: .2rem;
      font-size: 1rem;

      @media screen and (max-width: $desktop-large-screen) {
        &:hover {
          color: $white;
          background: $quaternary;

        }
      }

      @media screen and (max-width: $tablet-large-screen) {
        &:hover {
          color: inherit;
          background: inherit;

        }
      }

      .icon {
        margin-right: 0;
        margin: 0 .4rem;
      }
    }
  }
}

.order__extra {
  width: 90%;
  margin: 2rem auto;

  @media screen and (max-width: $tablet-large-screen) {
    padding: 0 1rem;
  }

  @media screen and (max-width: $mobile-large-screen) {
    width: 100%;
    padding: 1rem 0;
  }

}

.order__extra-title {
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: 2rem;

}

.order__extra-items {
  @include flex-evenly;
  flex-direction: column;
  align-items: flex-start;

}

.order__refreshments {
  width: 90%;
  margin: 2rem auto;

  @media screen and (max-width: $tablet-large-screen) {
    padding: 0 1rem;
  }

  @media screen and (max-width: $mobile-large-screen) {
    width: 100%;
    padding: 1rem 0;
  }

}

.order__refreshments-title {
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: 2rem;

}

.order__extra-items {
  @include flex-evenly;
  flex-direction: column;
  align-items: flex-start;

}

.order__action {
  @include flex-between;
  flex-direction: column;
  position: fixed;
  bottom: 34px;
  left: 0;
  background: $white;
  width: 100%;
  padding: 1rem;

}

.order__total {
  @include secondary-bold-subtitle;
  color: $black;
  margin-bottom: 1rem;
  text-align: center;

  strong {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;

  }

  small {
    @include primary-normal-small;
    font-weight: normal;
    font-size: .7rem;
    color: rgba($color: $black, $alpha: .4);
  }

}

.order__submit {
  width: fit-content;
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  .button--unactive {
    pointer-events: none;
  }

}

.order__submit--disable {
  pointer-events: none;

}
