@import '../../../styles/Index.scss';

.button-secondary {
  @include flex-start;
  padding: 4px 11px;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
}

.button-secondary--primary {
  background: $secondary;
  color: $white;
  box-shadow: $secondary-shadow--small;
  border: none;
  transition: .3s ease-in-out;

  &:hover {
    background: $white;
    color: $black;
  }
}

.button-secondary--secondary {
  background: transparent;
  text-decoration: underline;
  border: none;
  color: $black;
}

.button-secondary--tertiary {
  background: $primary;
  border: 2px solid $black;
  color: $black;
}
