@import '../../../styles/Index.scss';

.button-secondary {
  @include flex-start;
  padding: 4px 11px;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
}

.button-secondary--primary {
  background: transparent;
  border: 2px solid $black;
  color: $black;
}

.button-secondary--secondary {
  background: transparent;
  text-decoration: underline;
  border: none;
  color: $black;
}

.button-secondary--tertiary {
  background: $primary;
  border: 2px solid $black;
  color: $black;
}
