@import '../../styles/Index.scss';

.wrapper-page {
  position: relative;
  background-color: $white;
  background-image: url('../../assets/pattern-pice-grey.svg');
  background-repeat: repeat;
  background-origin: border-box;
  background-position: top left;
  padding: 44px 49px;
  height: 100vh;
  width: 100%;
  margin: 0;

  @media screen and (max-width: $mobile-large-screen){
    height: 100%;
    padding: 20px 15px;
    height: auto;
  }

}
