@import '../../styles/Index.scss';

.home {

  @media screen and (max-width: $tablet-large-screen) {
    padding: 42px 40px 0 40px;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    padding: 23px 31px 0 31px;
  }

  @media screen and (max-width: $tablet-regular-screen) {
    padding: 0;
  }

}
